.container .navbar-brand img {
    width: 100px;
}



.navbar-light .navbar-toggler-icon{
    background-image: url('./../../../assets/icon/hamburger.png');
}



.navbar {
    background-color: #222228;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 999;


}

nav .container ul .nav-link {
    color: #fff;
    /* text-align: center; */

}


nav .container .navbar-collapse {
    flex-grow: 0;
}

nav .container .navbar-collapse .nav-form {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-form .btn-expert {
    background: #07C189;
    border-color: #07C189;
    padding: 10px;



}

.nav-form .btn {
    /* padding: 10px; */
    color: #fff;

}
 .nav-list{
    margin-right: 10px;
}
.nav-form .btn-login {
    background: #2073E5;
    border-color: #2073E5;
    padding: 10px;
}

.nav-form .location {}

.nav-form .location:hover {
    border: none;
    box-shadow: none;

}
.mobile_btn{
    display: none;
}
/* .dropdown{
    border: 1px solid #E2E2E2;
    border-radius: 5px;
}
.dropdown:focus-visible{
background-color: none;
} */



/* media query */

@media (min-width: 375px) and (max-width: 575.98px) { 
    .nav-form{
        flex-direction: column;
        float: left;
        align-items:flex-start !important;
    }
    .mobile_btn{
        margin-left: 40px;
        display: block;
    }
    .nav-form{
        display: none !important;
    }
    /* .button_icon{
        height: 40px;
    } */

    
 }




 @media screen and (max-device-width: 640px) { 
    .nav-form{
        flex-direction: column;
        float: left;
        align-items:flex-start !important;
    }
    .mobile_btn{
        margin-left: 40px;
        display: block;
    }
    .nav-form{
        display: none !important;
    }

 }