<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#"><img class="logo" src="./../../../assets/logo/dark_bg.png" alt="" srcset=""></a>
      <div class="mobile_btn">
        <a href=""> <img src="./../../../assets/icon/Button.png" alt="" class="button_icon"></a>
        <a href=""> <img src="./../../../assets/icon/Button (1).png" alt="" class="button_icon"></a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-text-color">
          <li class="nav-item nav-list">
            <a class="nav-link active" aria-current="page" href="#">Service Providers </a>
          </li>
          <li class="nav-item nav-list">
            <a class="nav-link" href="#">How it works</a>
          </li>

      
        </ul>
        <form class="d-flex nav-form"><div class="dropdown">
            
            <button class="btn btn-outline-secondary dropdown-toggle location" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <span><img src="./../././../../assets/icon/location.png" alt="loc" style="padding-bottom: 3px;"></span>  Delhi NCR
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <button class="btn btn-login" type="submit">Log in</button>
          <button class="btn btn-expert" type="submit">Talk to an expert</button>
        </form>
      </div>
    </div>
  </nav>