<div class="card card-right border-0 shadow-lg">
    <div class="d-flex justify-content-between p-2">
        <div class="card-header">
            Select space to apply
        </div>
        <div class="dropdown">
            <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Ground floor
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
    <div class="card-body master1">
        <div class="d-flex justify-content-between master_wrapper">
            <h6>Master Bathroom</h6>
            <p>14ft X 20ft</p>

        </div>
        <p class="cate_txt pt-2">Product category</p>
        <p class="pro_name">Product name</p>
    </div>
    <div class="card-body master2">
        <div class="d-flex justify-content-between master_wrapper">
            <h6>Master Bathroom</h6>
            <p>14ft X 20ft</p>

        </div>
        <p class="cate_txt pt-2">Product category</p>
        <p class="pro_name">Product name</p>

    </div>
    <div class=" pt-0 ps-3 pe-3 pb-0 card-footer-section master1">
        <div class="card-cost">
            <span class="cost-label">Cost variation</span>
            <h4 class="text-success product-amount"><span style="font-size: 18px;">+ </span>23,700</h4>
        </div>
        <div class="apply-button">
            <div class="status"> <span>Apply</span></div>
        </div>
    </div>
    <div class="card-body master2">
        <div class="d-flex justify-content-between master_wrapper">
            <h6>Master Bathroom</h6>
            <p>14ft X 20ft</p>

        </div>
        <p class="cate_txt pt-2">Product category</p>
        <p class="pro_name">Product name</p>
    </div>
    <div class=" pt-0 ps-3 pe-3 pb-0 card-footer-section master1">
        <div class="card-cost">
            <span class="cost-label">Cost variation</span>
            <h4 class="text-success product-amount"><span style="font-size: 18px;">+ </span>23,700</h4>
        </div>
        <div class="apply-button">
            <div class="status"> <span style="color: #DD5F64;">Revert</span></div>
        </div>
    </div>

    <div class="card-body master2">
        <div class="d-flex justify-content-between master_wrapper">
            <h6>Master Bathroom</h6>
            <p>14ft X 20ft</p>

        </div>
        <p class="cate_txt pt-2">Product category</p>
        <p class="pro_name">Product name</p>
    </div>


    <div class=" pt-0 ps-3 pe-3 pb-0 card-footer-section master1">
        <div class="card-cost">
            <span class="cost-label">Cost variation</span>
            <h4 class="text-success product-amount"><span style="font-size: 18px;">+ </span>23,700</h4>
        </div>
        <div class="apply-button">
            <div class="status"> <span>Apply</span></div>
        </div>
    </div>

    <div class=" p-2 card-footer-section">
        <div class="card-cost">
            <span class="total-label">Total cost variation</span>
            <h4 class="amount"><span style="font-size: 18px;">+ ₹</span>2000</h4>
        </div>
        <div class="apply-button">


            <button class="btn btn-apply" type="submit">Apply changes</button>
        </div>
    </div>
</div>




<!-- for mobile view  -->


